a[aria-label="RSS"]{
	display:none !important;
}

.VPLocalNav {
    border-color: var(--vp-c-divider) !important;
}
.dark .VPSidebar {
    border-right: 1px solid var(--vp-c-divider) !important;
}
.VPNavBar:not(.home.top) .divider-line {
	background-color: var(--vp-c-divider) !important;
}

img, video, .vp-code-group {
	border-radius: var(--pp-radius);
}

.medium-zoom-overlay {
	z-index: 20;
  }
  
  .medium-zoom-image {
	z-index: 21;
  }
  

.theme {
  background-color: var(--vp-c-bg);
}

.vp-doc h2 {
  margin-top: 0;
  border-top: none;
}

.VPDocOutlineDropdown {
  display: none !important;
}
.articles .VPHero.VPHomeHero {
	display:flex;
}
.articles .VPHero.VPHomeHero .main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.VPHome:before {
    background-image: var(--vp-home-hero-image-background-image);
    filter: var(--vp-home-hero-image-filter);
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.1;
}
.VPHome .VPFeature,
.VPHome .card {
	background-color: var(--vp-c-bg-opacity) !important;
	border-color: var(--vp-c-divider) !important;
	backdrop-filter: blur(50px);
}
@media (max-width: 640px) {
	.VPHome .vp-doc > div{
		padding: 25px;
	}
}

/* .tagline {
	text-align: center;
} */

.VPHome .VPFeature, 
.VPHome .card,
.vp-code-group,
div:not(.vp-code-group) > div >.vp-adaptive-theme:has(> .vp-code.github-dark ){
	box-shadow: 0 0 20px 10px var(--pp-brand-shadow);
}
